body{width:100%;height:100%;position:relative;overflow:hidden;}

/*面板*/
.home-panel{overflow:hidden;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
	border:1px solid #dddddd;
}
.home-panel-title{padding:8px 0px 8px 10px;font-size:14px;color:#555555;line-height:18px;background:#f5f5f5;border-bottom:1px solid #dddddd;}
/*.home-panel-title:before{content:"";display:inline-block;margin:0 8px; width:10px; height:10px;background:#0ae151;}*/
.home-panel-title .more{color:#555555;font-size:18px;display:inline-block;width:34px;text-align:center;}
.home-panel-title .more:hover{text-decoration:none;font-weight:bold;font-size:20px;}
.home-panel-body{position:relative;  -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
	padding:12px;
}
.home-panel input[type="text"]{width:300px;}
.home-panel .control-group{padding:0px 6px;}
.home-panel .control-label{display:inline-block; margin:6px 0; padding-left:6px; border-left:3px solid #27a5f9;line-height:1;color:#27a5f9;}

/*加载loading*/
.loading-container{position:absolute;top:0px;bottom:0px; left:0px; right:0px;z-index:9;}
.loading-box{width:86px;height:110px;position:absolute;top:50%;bottom:0px; left:50%; right:0px;margin-top:-55px;margin-left:-43px;}
.loading-img{width:86px;height:86px;background:transparent url("../images/loading.gif") no-repeat center center;}
.loading-text{width:86px;font-size:14px;text-align:center;margin-top:10px;}

/*滚动条*/
.wrap-scrollbar-container{height:100%;overflow:hidden;}
.wrap-scrollbar-wrapper{height:100%;overflow:auto;}/*overflow:visible;*/
.wrap-scrollbar-drag
,.wrap-scrollbar-drag .drag-dot{-webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.wrap-scrollbar-drag{position:absolute;right:0px;left:auto;top:5px;bottom:5px;width:5px;
	background:#eee;
}
.wrap-scrollbar-drag .drag-dot{position:absolute;right:0px;left:0px;background:transparent url("../images/bg_000000_19.png") repeat;height:10px;}
/*右侧*/
.right-shadow-container{width:20%;height:100%;position:relative;float:right;min-width:300px;padding:20px 0px;
	background:#fafafa;
}
.right-shadow-container:before{content:"";position:absolute;left:-10px;top:0;
	width:10px;height:100%;background:transparent url("../images/shadow_left.png") repeat-y;
}
.right-shadow-container .title{font-size:16px;color:#555555;padding-left:18px;}
.time-axis-container{margin-bottom:30px;height:240px;position:relative;}
.time-axis-wrapper{margin-top:10px;}
.time-axis-box{padding:0px 14px;margin-left:8px;color:#555555;}
.time-axis-box .info
,.time-axis-box .content{padding-left:16px;}
.time-axis-box .info{font-size:12px;position:relative;}
.time-axis-box .info:before{position:absolute;top:6px;left:-4px;
	content:"";display:inline-block; width:8px; height:8px;background:#fabc05;
	-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
}
.time-axis-box.odd .info:before{background:#f15a5a;}
.time-axis-box .time{color:#aaaaaa;display:inline-block;margin-right:4px;}
.time-axis-box .bright{color:#0077cc;}
.time-axis-box .content{border-left:1px solid #dddddd;width:auto;padding-top:3px;padding-bottom:5px;}
.time-axis-box .box{background:#eeeeee;padding:8px 12px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.time-axis-box .other{padding-top:5px}

/*左侧*/
.left-container{height:100%;overflow:hidden;}
.left-container .home-panel{margin:24px;}
.left-container .steps-control-container{margin:24px;}
.case-detail-table{width:100%;margin-bottom:10px;}
.case-detail-table tr.odd{background:#f6f6f6;}
.case-detail-table tr.even{}

/*详情信息组*/
.detail-info-group{padding:10px 8px;color:#333333; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;overflow:hidden;}
.detail-info-group .info-title{color:#999999;width:128px;text-align:right;float:left;}
.detail-info-group .info-con{overflow:hidden;}
.thumb-img{width:200px; height:128px;padding:4px;margin:5px;
	border:1px solid #dddddd;background:#ffffff; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
}
/*分步*/
.steps-control-container{}
.steps-control-wrapper{width:100%;}/*table*/
.steps-control-group{text-align:center;vertical-align:middle;position:relative;}
.steps-control-group:after{content:"";height:6px;background:#dddddd;position:absolute;top:0%;bottom:auto;left:0px;right:0px;margin-top:12px;z-index:-1;}
.steps-control-group .steps-num{display:inline-block;background:#dddddd;
	width:28px;height:28px;line-height:28px;color:#ffffff;font-weight:bold;font-size:16px;
	-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
}
.steps-control-group .steps-con{margin-top:6px;}
.steps-control-group.processing{color:#fabc05;}
.steps-control-group.processing:after{background:#fabc05;}
.steps-control-group.processing .steps-num{background:#fabc05;}
.steps-control-group.processed{color:#0077cc;}
.steps-control-group.processed:after{background:#0077cc;}
.steps-control-group.processed .steps-num{background:#0077cc;}

.button-box{margin:0px 24px;text-align:center;}
.button-box .btn-line{width:108px;font-size:12px;padding-top:3px;padding-bottom:3px;}
/*按钮*/
.btn-line{background-color:#ffffff;color:#0077cc;text-shadow:none;border:1px solid #0077cc;
	-webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
}
.btn-line:hover
, .btn-line:focus
, .btn-line:active
, .btn-line.active
, .btn-line.disabled
, .btn-line[disabled]{
	background-color:#0077cc;color:#fff;
}
.btn-line:focus
, .btn-line:active
, .btn-line.active{
	background-color:#0077cc; -webkit-background-size:100% auto; background-size:100% auto;
}



/*网格*/
[class*="col-"]{float:left;}
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}

/*--------------------------------------------------------------------------------------------------------------------*/
@media (max-width: 1800px) {
	.hide-1366{display:none;}

	.home-left-container{width:100%;float:none;}
	.case-table{margin: 1px 0px;}
	.case-table .statistic-box{padding:25px 8px;line-height:30px;}

	.home-right-container{width:auto;}
	.home-right-container .home-weather
	,.home-right-container .home-panel
	{width:364px;}
	.home-right-container .home-panel:last-child{width:auto;overflow:hidden;float:none!important;}
	.home-right-container .home-panel:last-child .home-panel-title
	,.home-right-container .home-panel:last-child .home-panel-body{margin-left:4px}
}
@media (min-width: 1800px) {
	.hide-mx{display:none;}
}