
@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1463451471'); /* IE9*/
  src: url('../font/iconfont.eot?t=1463451471#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff?t=1463451471') format('woff'), /* chrome, firefox */
  url('../font/iconfont.ttf?t=1463451471') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1463451471#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
	position: relative;
	top: 1px;
	display: inline-block;
	line-height: 1;
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
[class^="iconfont-"],
[class*=" iconfont-"] {
    font-family:"iconfont" !important;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
}
[class^="iconfont-"]:before,
[class*=" iconfont-"]:before {
    text-decoration: inherit;
    display: inline-block;
    speak: none;
}
.iconfont-homesolid:before { content: "\e600"; }
.iconfont-messageline:before { content: "\e601"; }
.iconfont-dashboard:before { content: "\e602"; }
