/* 地图 */
.btn-baidu{display:block;border:1px solid #cccccc;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
	background-color:#ffffff;width:30px; height:30px;
	color:#5b89e9;line-height:28px;text-align:center;vertical-align:middle;
	-webkit-transition:-webkit-transform 0.2s;
	-moz-transition:-moz-transform 0.2s;
	-ms-transition:-ms-transform 0.2s;
	-o-transition:-o-transform 0.2s;
	transition:transform 0.2s;
}
.btn-baidu:hover
,.map-container .list-collapse:hover{cursor:pointer;
	-webkit-transform:scale(0.9,0.9);
	-moz-transform:scale(0.9,0.9);
	-ms-transform:scale(0.9,0.9);
	-o-transform:scale(0.9,0.9);
	transform:scale(0.9,0.9);
}

.map-container{position:relative;border:1px solid #dddddd;width:100%;height:100%;overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-transition:height 0.5s;
	-moz-transition:height 0.5s;
	-ms-transition:height 0.5s;
	-o-transition:height 0.5s;
	transition:height 0.5s;
}
.map-wrapper{width:100%;height:100%;overflow:hidden;}
.map-container .full-screen{position:absolute;right:232px;bottom:12px;}
.map-container .monitor{position:absolute;right: 272px;bottom:12px;}
.map-container .list-expand{position:absolute;right:12px;top:12px;z-index:9}
.map-container .list-collapse{color:#3385ff;padding:0px 10px;}
.map-list{position:absolute;right:-221px;top:0;bottom:0;z-index:9;
	border-left:1px solid #dddddd;
	background-color:#ffffff;
	width:220px;
	-webkit-transition:right 0.5s; -moz-transition:right 0.5s; -ms-transition:right 0.5s; -o-transition:right 0.5s; transition:right 0.5s;
}
.map-list-top{padding:0px 10px 0px 0px; overflow:hidden; border-bottom:1px solid #dddddd; line-height:40px;}
.map-list-title{font-size:16px;}
.map-list-content{position:absolute;left:0;right:0px;top:41px;bottom:0;overflow-y:auto;}
.map-list-li{padding:10px 10px; border-bottom:1px solid #dddddd;background-color:#f5f5f5;cursor:pointer;}
.map-list-li .title{line-height:1.5;}
.map-list-li .info{line-height:1.5;color:#a8a8a8;font-size:12px;}
.map-list-li.active{background-color:#ffffff;color:#3385ff;}
.map-list-li:hover{color:#3385ff;}

/*-------应用------*/
.map-app-container{position:absolute;top:20px;bottom:20px;left:20px;right:auto;z-index:9}
/*应用按钮栏*/
.map-app-container .data-opt
,.map-app-container .data-bar
,.map-search-container{
	display:inline-block;
	border:1px solid #dddddd;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	background-color:#ffffff;height:36px;line-height:36px;text-align:center;color:#666666;
}
.map-app-container .data-opt{width:36px;cursor:pointer;}
.map-app-container .data-opt.collapsed .fa-folder-close:before{content:'\f07c';}
.map-app-container .data-bar{position:relative;}
.map-app-container .data-bar:before{content:'|';position:absolute;left:50%;color:#dddddd;}
.map-app-container .is_tag
,.map-app-container .resources-opt
,.map-app-container .details-opt{
	display:inline-block;padding:0px 14px;cursor:pointer;
}
.map-app-container .is_tag:after
,.map-app-container .resources-opt:after
,.map-app-container .details-opt:after{
	content:'\f107';font-family: 'FontAwesome';margin-left:4px;
}
.map-app-container .is_tag.collapsed:after
,.map-app-container .resources-opt.collapsed:after
,.map-app-container .details-opt.collapsed:after{
	content:'\f106';
}
.map-app-container .is_tag:hover
,.map-app-container .data-opt:hover
,.map-app-container .resources-opt:hover
,.map-app-container .details-opt:hover
,.map-app-container .is_tag.collapsed
,.map-app-container .data-opt.collapsed
,.map-app-container .resources-opt.collapsed
,.map-app-container .details-opt.collapsed{
	color:#3385ff;
}
/*应用内容列表*/
.map-app-box{position:absolute;top:50px;bottom:0;left:0;right:0;text-align:justify; display:none;
	background-color:#ffffff;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.15);
	-moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.15);
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.15);
}
.map-app-box:before{position:absolute;top:-6px;left:12px;
	width:0;height:0;content:'';font-size: 0;
	border-bottom:6px solid #ffffff;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
}
.map-app-box.details-box{bottom:auto;padding:16px;}
.resources-list:before{left:82px;}
.details-box:before{left:168px;}

.map-app-box-top{padding:0px 12px;border-bottom:1px solid #dddddd;
	line-height:40px;
}
.map-app-box-top .icon{color:#3385ff;}
.icon{line-height:inherit;}
.map-app-box-top .map-close{position:absolute;right:0;top:0;padding:0px 12px;color:#cccccc;cursor:pointer;}
.map-app-box-top .map-close:hover{color:#000000;}
.map-app-box-top .map-close:before{content:"\2573";}

/*列表内容*/
.map-app-list{position:absolute;left:0;right:0px;top:41px;bottom:0;overflow-y:auto;}
.map-app-list-li{position:relative;border-bottom:1px solid #dddddd;cursor:pointer;}
.map-app-list-li .map-app-nav{display:block;padding:0px 12px;border-bottom:1px solid #dddddd;
	color:#3385ff;line-height:60px;font-size:16px;text-decoration:none;
}
.map-app-list-li .map-app-nav:before{content:'\f107';font-family: 'FontAwesome';
	position:absolute;top:0;right:14px;
}
.map-app-list-li .collapsed{color:#000000;border-bottom-color:#ffffff;}
.map-app-list-li .collapsed:before{content:'\f105';}
.map-app-list-li .icon{font-size:18px;width:20px;text-align:center;}

.map-app-list-content{display:table;margin-left:12px; padding:8px 12px 8px 0px;border-top:1px solid #dddddd;}
.map-app-list-content .pic-box{display:table-cell;width:58px;}
.map-app-list-content .pic{width:48px;height:48px;border:1px solid #f8f8f8;
	background:#ffffff no-repeat center center;
	-webkit-background-size:auto 100%;
	background-size:auto 100%;
}
.map-app-second .map-app-list-content:first-child{border-top:none;}
.map-app-list-content .words{display:table-cell;vertical-align:middle;}
.map-app-list-content .info{font-size:12px; color:#a8a8a8;}
/*详情内容*/
.map-app-box .event-con{border-bottom:1px solid #dddddd;margin-bottom:8px;}
.map-app-box .tit{color:#000000;font-size:16px;margin-bottom:4px;}
.map-app-box .sub{color:#a8a8a8;font-size:12px;margin-bottom:10px;}
.map-app-box .text{color:#000000;font-size:14px;text-indent:2em;margin-bottom:8px;}
.map-app-box .event-attr{font-size:12px;}

.map-infoWindow .event-con{border-bottom:1px solid #dddddd;margin-bottom:8px;}
.map-infoWindow .tit{color:#000000;font-size:16px;margin-bottom:4px;}
.map-infoWindow .sub{color:#a8a8a8;font-size:12px;margin-bottom:10px;}
.map-infoWindow .text{color:#000000;font-size:14px;text-indent:2em;margin-bottom:8px;}
.map-infoWindow .event-attr{font-size:12px;}

.event-attr .group{display:table;margin:4px 0;}
.group .property{display:table-cell;width:64px;color:#888888;text-align:right;}
.group .value{display:table-cell;}

/*搜索框*/
.map-search-container{position:absolute;top: 20px;left: 244px;width: 254px;overflow:hidden;display:block;z-index:9}
input[type="text"].map-search-input {display:block;margin:0; border:none;background:none;width:206px;height:100%;float:left;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.map-search-button{display:block;margin:0;border: none;width:48px;height:100%;background:#3385ff;overflow:hidden;
	font-size: 14px;color: #ffffff;text-align: center;text-shadow: none;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/*------------------------视频监控-----------------------*/
.monitors-container{position: relative;margin-top:8px;border: 1px solid #dddddd;width: 100%;overflow:hidden;}
.monitors-opt-container{position:absolute;top:0;bottom:0;left:auto;right:0;
	border-left:1px solid #ddd;width:32px;height:100%;background:#fcfcfc;
	text-align:center;
}
.monitors-opt-container .close-opt
,.monitors-opt-container .minimize-opt{
	cursor:pointer;
}
.monitors-list{/* width:100%; */padding:0 32px 0 0;overflow:hidden;}
.monitors-list-li{width:33.33%;height:auto;float:left;border-right:1px solid #dddddd;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.monitors-list-top{padding:0 8px;border-bottom: 1px solid #dddddd;font-size:12px;line-height:2;}
.monitors-list-content img{max-width:100%;}
/**/
.monitors-container.closed{display:none;}/*
.monitors-container.closed{position:absolute;bottom:0px;left:0px;right:auto;width:auto;}
.monitors-container.closed .monitors-list{display:none;}
.monitors-container.closed .monitors-opt-container{position: relative;}
.monitors-container.closed .monitors-opt-container .close-opt{height:32px;line-height:32px;}
.monitors-container.closed .monitors-opt-container .fa-remove::before {content: "\f03d";}*/

/*分页*/
.form-combox-pagination {
padding:0 10px;
margin-top:5px
}
.form-combox-pagination .pagination {
margin:0;
overflow:hidden
}
.form-combox-pagination .pagination>li {
display:block;
float:left
}
.form-combox-pagination .pagination>li>input[type="text"] {
position:relative;
float:left;
padding:6px 12px;
margin:0px 0px 0px -1px;
line-height:1.5;
text-decoration:none;
background-color:#fff;
border:1px solid #ddd;
width:30px;
text-align:center
}
.form-combox-pagination .pagination-sm>li>input[type="text"] {
padding:4px 10px;
font-size:12px;
line-height:1.5
}
.form-combox-pagination .form-control {
text-align:center
}


