@charset "utf-8";
html{overflow:auto;}
body{background:#e7e6e6;min-width:1024px;overflow:visible;height:auto;}

/*-----------------------------------------------头部-header----------------------------------------------------------*/
.header-bg{background-color:#1286d3;width:100%;height:60px;position:absolute;z-index:9;}
/*-----菜单-----*/
.navbar{background-color:transparent;border:none;border-radius:0px;margin:0px;width:100%;height:66px;position:absolute;z-index:9;}
/*logo*/
.navbar-header{width:auto;height:60px; margin:0px 25px;}
.navbar-header a{display:inline-block; width:auto;overflow:hidden;color:#ffffff;font-size:24px;text-decoration: none;line-height: 60px;white-space: nowrap;}
.navbar-header img{width:auto;height:100%;float:left;}

/*-----头部右侧 登录信息-----*/
.headL{width:240px;height:auto; margin:0px;}
.headL a{display:block;overflow:hidden;margin-top:9px;}
.header-user{width:160px;float:left;}
.header-user .userName
,.header-user .role{width:100px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;}
.header-user .userName{font-size:16px;color:#ffffff;}
.header-user .role{font-size:12px;color:#ffffff;opacity:0.5;filter:alpha(opacity=50);}
.head{width:44px;margin-right:15px;position:relative;}
.head>img{width:42px;height:42px;}
.communicate{float:left;width:auto;margin-left:10px;}
.communicate a{width:56px;position:relative;color:#ffffff;}
.communicate a .icon{font-size: 42px;color:#fff;}
/*上标-小*/
.superscript{line-height:18px;width:20px;height:20px;}

/*--------------------------------------------------home-main---------------------------------------------------*/
.home-main{/*background-color:rgba(30,29,33,0.36);*/position:absolute;top:60px;bottom:0px;left:0px;right:0px; height:auto;padding:22px;}
.home-main .home-panel{margin:0px 3px 10px 3px;float:left;}

#dataUpdate{width:345px;}
#dataUpdate .home-panel-body{padding:10px 0px;}
.time-axis-container{position:relative;width:100%;height:100%;}
.time-axis-container .swiper-wrapper{width:100%;}
.time-axis-container .swiper-wrapper:before{content:"";display:block;width:10px;height:10px;
	position:absolute;top:-10px;left:26px;
	border:1px solid #717071;background:#ffffff;
	-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
}
.time-axis-container .swiper-slide {width:100%;height: auto;float:none;cursor:pointer;}
.time-axis-container .swiper-slide:first-child{margin-top:10px;}
.time-axis-box{margin-left:30px;border-left:1px solid #717071;padding:10px 14px;position:relative;}
.time-axis-box .title{font-size:14px;color:#1286d3;}
.time-axis-box:before{position:absolute;top:12px;left:-10px;font-family: FontAwesome;text-align:center;color:#1286d3;font-size:12px;vertical-align:middle;
	content:"\f111";display:inline-block; width:20px; height:20px;line-height:20px; background:rgba(18,134,211,0.5);
	-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
}
.time-axis-box:after{position:absolute;top: 42px;left:-5px;font-family: FontAwesome;text-align:center;color:#49b949;font-size:6px;vertical-align:middle;
	content:"\f111";display:inline-block; width:10px; height:10px;line-height:10px; background:rgba(73,185,73,0.5);
	-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
}
.time-axis-box .detail{color:#464646;font-size:12px;margin: 6px;}

/**/
#waterEnvironment{width:780px;}
/**/
#airQuality{width:725px;}
#airQuality .air-info{margin:24px 24px 0px 24px;}
#airQuality .air-info span{color:#1286d3;}
.air-quality-daily{width:100%;height:100%;vertical-align:middle;text-align:center;line-height:1.5;}
.air-quality-daily .title{color:#1286d3;margin-bottom:10px;}
.air-quality-daily .time{color:#464646;font-size:18px;font-weight:bold; margin-bottom:10px;}
.air-quality-daily .quality{margin:8px auto;width:78px;height:78px;line-height:78px; background-color:#dddddd;
	font-size:24px;font-weight:bold;color:#ffffff;
	-webkit-border-radius:50%; -moz-border-radius:50%; border-radius:50%;
}
#airQuality .excellent{background-color:#2ba4e9!important;}
#airQuality .good{background-color:#a4e0a7!important;}
#airQuality .mild{background-color:#ffbf26!important;}
#airQuality .moderate{background-color:#fe8a57!important;}
#airQuality .severe{background-color:#ff6262!important;}
#airQuality .dangerous{background-color:#d02032!important;}
#airQuality .legend{position:absolute;bottom:20px;left:20px;right:20px; text-align: center;font-size: 14px;line-height:1;vertical-align:middle;}
#airQuality .legend .item{background: #ffffff;width: 18px;height: 12px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	display: inline-block;position: relative;top: 1px;margin-right: 4px;margin-left:6px; }
/**/
#businessSystem{width:300px;}

/**/
#waste{width:970px;}

/**/
#radiation{width:580px;}
/*-----------------------------------------------------公共----------------------------------------------------------*/
.oh{overflow:hidden;}
.arrow-left{min-width:9px; min-height:18px; background:transparent url("../images/arrow_left.png") no-repeat center center;}
.arrow-right{min-width:9px; min-height:18px; background:transparent url("../images/arrow_right.png") no-repeat center center;}
.arrow-up{min-width:9px; min-height:18px; background:transparent url("../images/arrow_up.png") no-repeat center center;}
.arrow-down{min-width:9px; min-height:18px; background:transparent url("../images/arrow_down.png") no-repeat center center;}

.no-border
,table.no-border th
,table.no-border td{border:none!important;}
.no-border-right{border-right:none!important;}
.no-border-bottom{border-bottom:none!important;}
.no-background
,table.no-background thead{background:none!important;}

.btn-empty{color:#1286d3;border:1px solid #1286d3;background:#ffffff;}
.btn-empty:hover{color:#1286d3;}
.btn-primary{background:#1286d3;}

.grade-legend .excellent{background-color:#2ba4e9!important;}
.grade-legend .good{background-color:#a4e0a7!important;}
.grade-legend .mild{background-color:#ffbf26!important;}
.grade-legend .moderate{background-color:#fe8a57!important;}
.grade-legend .severe{background-color:#ff6262!important;}
.grade-legend .dangerous{background-color:#d02032!important;}
.grade-legend .item{background-color:#b8b8b8;}
.grade-legend .legend{text-align: right;font-size: 14px;line-height:1;vertical-align:middle;}
.grade-legend .legend .item{background: #b8b8b8;width: 18px;height: 12px;-webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
	display: inline-block;position: relative;top: 1px;margin-right: 4px;margin-left:6px; }

/*面板*/
.home-panel{background:#ffffff;}
.home-panel-title{position:relative;padding:0px 16px;border-bottom:1px solid #c4c4c4;overflow:hidden;color:#464646;line-height:36px;font-size:16px;}
.home-panel-title .title{display:block;float:left;font-weight:bold;
	-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;
}
.home-panel-title .more{display:block;overflow:hidden;cursor:pointer;text-align:right;float:right;color:#6f6f6f;}
.home-panel-title .more:hover{text-decoration:none;color:#1286d3;}
.home-panel-title .icon{font-size:12px;vertical-align: middle; margin-right:8px;color:#1286d3;top:0px;}

.home-panel-body{position:relative;}
.home-panel-body:after{clear:both;display:block;content:"";}
.home-panel input[type="text"]{width:300px;}
.home-panel .control-group{padding:0px 6px;}
.home-panel .control-label{display:inline-block; margin:6px 0; padding-left:6px; border-left:3px solid #27a5f9;line-height:1;color:#27a5f9;}

.news-list{margin:14px 20px;}
.news-list .item{}
.news-list .item > a{display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;
	font-size:14px;color:#464646;line-height:2;
}
.news-list .item > a:hover{color:#1286d3;}
.news-list .item .icon{font-size:6px;color:#2ba4e9;top:-2px; margin-right:12px;}

/*swiper 滚动条*/
.swiper-scrollbar {
	background:#f0f0f0;
	position:absolute;
	right:3px;
	top:0;
	height:100%;
	width:5px;
}
.swiper-scrollbar .swiper-scrollbar-drag {
	background:#cfd1d3;
}

.column-group{width:100%;position:relative;}
.column-group .top{overflow:hidden;margin:10px 0px;}
.column-group .top .title{color:#464646;font-size:16px;}
.column-group .top .title .icon{color:#1286d3;margin-right:8px;font-size:18px;top: 2px;}

.table-info{width:100%;}
.table-info td{border:1px solid #c2c2c2;padding:4px 12px;}
.table-info .tit{width:20%; background:#f6f6f6;text-align:right;}
.table-info .con{width:30%; text-align:left;}

.table-mini{width:100%;font-size:12px;text-align:center;}
.table-mini caption{font-size:18px;font-weight:bold;margin-bottom:10px;}
.table-mini .icon_img{cursor:pointer;}
.table-mini thead{background-color:#9dd8ff;font-size:14px;font-weight:bold;}
.table-mini th,.table-mini td{border:1px solid #c8c8c8;padding:3px;}
.pagination-mini{display:table;width:100%;font-size:12px;margin-top:3px;}
.thead-fixd-container{overflow-y:scroll;}
.thead-fixd-container tbody td{padding: 0 3px;border-top:none;border-bottom:none;}
.thead-fixd-container tbody td > div{height:0px;overflow:hidden;}
.tbody-fixd-container{overflow-y:scroll;margin-top: -1px;}
.tbody-fixd-container thead th{padding: 0 3px;border-top:none;border-bottom:none;}
.tbody-fixd-container thead th > div{height:0px;overflow:hidden;}

.annual-chart-table{line-height:1.5;text-align:center;margin: 0 auto;}
.annual-chart-table caption{font-size:16px;margin-bottom:20px;}
.annual-chart-table td{width:40px;height:30px;border:1px solid #c2c2c2;font-size:12px; -webkit-background-size:100% auto; background-size:100% auto;}

.icon_img{display:inline-block; width:24px;height:24px;background:transparent url("../images/icon_img_01.png") no-repeat center;}
.icon_img.location{background-image:url("../images/icon_img_01.png");}
.icon_img.search{background-image:url("../images/icon_img_02.png");}

.map-details-popup{position:absolute;top:auto;bottom:0px;left:0px;right:0px;background:#ffffff;z-index:9;}
.map-details-popup .popup-top{border-top:1px solid #cacaca;background:#ececec;line-height:36px;padding:0px 12px;position:relative;}
.map-details-popup .popup-top .close{cursor:pointer;border-left:1px solid #cacaca;width:36px;position:absolute;right:0px;bottom:auto;float:none;left:auto;font-size:24px;text-align:center;line-height:inherit;}
.map-details-popup .popup-con{height:250px;overflow:auto;padding:10px 14px;}
.map-details-popup .table-mini thead{background:#e3ebfa;}

.search-box{}
.search-box .form-group{width:100%;}
.search-box .form-group .control-label{display:block;width:100px;float:left;}
.search-box .form-group .control-div{display:block;}

.form-group{display:inline-block;position:relative;}
.form-group:after{content:"";display:block;clear:both;}
.form-group .control-label{display:inline-block;width:120px;text-align:right;}
.form-group .control-div{display:inline-block;}
.form-group .control-div > div
,.form-group .control-div > select{margin-bottom:0px;}

/*-----------------------------------------------------地图----------------------------------------------------------*/
.map-container{position:absolute;top:0px;bottom:0px;left:0px;right:0px;
	background:#c4e3f3;
}
.map-wrapper{width:100%;height:100%;background:#a4e0a7;}
.map-tool-container{position:absolute;top:2.65%;right:2.65%;bottom:auto;left:auto;z-index:9;}
.map-tool-container li{margin-bottom:12px;position:relative;}
.btn-map-tool{background-color:#1286d3;border:1px solid #d5d4d1;font-size:14px;color:#ffffff;line-height:36px;cursor:pointer;padding:0px 12px;}
.btn-map-tool .icon{width:14px; font-size:18px; text-align:center;margin-right:8px;}
.map-tool-container .collapse{position:absolute; right: 0;left: auto;margin:4px 0px 0px 0px;}
.map-tool-container .dropdown-panel-container{width:416px;}
.map-tool-container .dropdown-panel-body{height:410px;}
.dropdown-panel-container{padding:0px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px; background-color:#ffffff;border:1px solid #8c8c8c;}
.dropdown-panel-top{padding:10px 14px;background-color:#1286d3;font-size:14px;color:#ffffff;}
.dropdown-panel-body{padding:4px 14px;overflow:auto;}

#airStatistics .tabs{overflow:hidden;border-bottom:1px solid #c8c8c8;margin-bottom:8px;}
#airStatistics .tabs div{float:left;width:25%;line-height:30px;cursor:pointer;text-align:center;color:#464646;}
#airStatistics .tabs div.active{color:#1286d3;font-weight:bold;}
#airStatistics .tabs div:hover{font-weight:bold;}
#airStatistics .swiper-container {width: 100%;height:310px;}

.marker-info-container{width:464px;max-height:180px;overflow:auto;}
.marker-info-container .base-info{border-bottom:1px solid #c8c8c8;padding-bottom:10px;margin-bottom:10px;}
.marker-info-container .base-info .name{color:#1286d3;}
.marker-info-container .base-info .other{color:#878787;}



/*--------------------------------------------------数据详情页--------------------------------------------------------*/
.current-location-container{}
.current-location-container .location,.location a {color:#555;line-height:30px;}
.current-location-container .location>.icon {margin-right:6px;}
.data-details-container{margin-top:14px; width:100%;border:1px solid #bbbbbb; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.data-details-container > div{border-bottom:1px solid #bbbbbb;}
.data-details-container > div:last-child{border-bottom:none;}
.data-details-head{overflow:hidden;padding:0px 12px;}
.data-details-head .title{line-height:34px;color:#1286d3;font-size:16px;}
.data-details-toolbar{overflow:hidden;text-align:right;}
.data-details-search{padding:10px 0px;}
.data-details-search:after{content:"";display:block;clear:both;}
.data-details-search .grade-legend{margin-top:10px;margin-right:16px;}
.data-details-list{padding:14px;}
.data-details-chart{line-height:0;text-align:center;}
.data-details-chart > div{border-right:1px solid #bbbbbb;}
.data-details-chart > div:last-child{border-right:none;}
#airQualityDaily{line-height:1.5;}






/*------------------------------------------------------响应式----------------------------------------------------------*/
@media (max-width:1920px) {
	/**/
	#dataUpdate{width:18.5%;}
	/**/
	#waterEnvironment{width:41%;}
	/**/
	#airQuality{width:39%;}
	/**/
	#businessSystem{width:16%;}
	/**/
	#waste{width:52%;}
	/**/
	#radiation{width:30.5%;}

}
@media (max-width:1440px) {
	/**/
	#dataUpdate{width:30.5%;}
	/**/
	#waterEnvironment{width:68%;}
	/**/
	#airQuality{width:70%;}
	/**/
	#businessSystem{width:28.5%;}
	/**/
	#waste{width:62.5%;}
	/**/
	#radiation{width:36%;}

}
@media (max-width:1024px) {
	/**/
	#dataUpdate{width:299px;}
	/**/
	#waterEnvironment{width:666px;}
	/**/
	#airQuality{width:686px;}
	/**/
	#businessSystem{width:279px;}
	/**/
	#waste{width:612px;}
	/**/
	#radiation{width:353px;}

}




